[Interface]
Address = {{ wireguard_client_ip }}/32
PrivateKey = {{ wireguard_client_privatekey }}
PostUp = iptables -t nat -A POSTROUTING -o wg0 -j MASQUERADE; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o wg0 -j MASQUERADE; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
Endpoint = {{ wireguard_server_endpoint_ip }}:{{ wireguard_server_port }}
PublicKey = {{ wireguard_server_publickey }}
PreSharedKey = {{ wireguard_psk }}
AllowedIPs = 0.0.0.0/0
PersistentKeepAlive = 25
